*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body{
    min-height: 100vh;
    background-color: #e8e6b2;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.square{
    background-color: #F3EBBD;
    height: 500px;
    width: 550px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.027);
    position: absolute;
    transform: translateY(-10%);
}

@media screen and (max-width: 700px) {
    .square{ scale: 0.9; }
}
@media screen and (max-width: 560px) {
    .square{ scale: 0.8; }
}
@media screen and (max-width: 470px) {
    .square{ scale: 0.7; }
}
@media screen and (max-width: 420px) {
    .square{ scale: 0.6; }
}
@media screen and (max-width: 360px) {
    .square{ scale: 0.5; }
}
.sun{
    background-color: #f8f5de;
    border-radius: 50%;
    height: 390px;
    width: 390px;
    margin: 0 auto;
}

.sunWrapper{
    width: 80%;
    height: 60%;
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.lineBottom{
    position: absolute;
    bottom: 0;
    height: 3.5px;
    background-color: #5E4320;
    width: 90%;
    left: 50%;
    border-radius: 4px;
    transform: translateX(-50%);
    z-index: 2;
}

.piramideWrapper{
    position: relative;
    top: 50%;
    transform: translateY(-49.5%);
    height: 248px;
    overflow: hidden;
}

.piramide{
    border: 4px solid #5E4320;
    background-color: #E0B75B;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 147px;
    left: 48%;
    transform: translateX(-50%) rotate(135deg);
    border-radius: 4px;
    scale: 0.95;
    z-index: -2;
    overflow: hidden;
}

.piramide2{
    border: 6px solid #5E4320;
    left: 18%;
    scale: 0.55;
    z-index: -4;
}

.piramide3{
    border: 4px solid #5E4320;
    left: 65%;
    scale: 0.75;
    z-index: -4;
}

.piramide::after{
    content: "";
    background-color:#5E4320;
    height: 100%;
    width: 4px;
    position: absolute;
    left: 48%;
    top: 68px;
    transform: rotate(72deg);
}

.piramide2::after{
    width: 5.5px;
}

.piramide::before{
    content: "";
    background-color: #3b23004d;
    height: 100%;
    width: 90px;
    position: absolute;
    left: 30%;
    top: 110px;
    transform: rotate(72deg);
    z-index: 9;
}

.linesWrapper{
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 45%;
    width: 280px;
    left: 20%;
    transform: translateX(-50%) rotate(45deg);
}

.line{
    border: 1.4px solid #BC8F3C;
    width: 100%;
    position: relative;
}

.line::after{
    content: "";
    top: 2px;
    border: 1.2px solid #EBC36C;
    width: 100%;
    position: absolute;
}

.topoPiramide{
    background-color: #ecdea0a2;
    height: 50px;
    width: 35px;
    position: absolute;
    left: 14.2px;
    bottom: -25px;
    border-radius: 0 60%;
    z-index: 10;
}

.topo2{
    height: 60px;
    width: 30px;
    left: -15px;
    bottom: -5px;
    border-radius: 170% 170% 0 0;
}

.starWrapper{
    height: 20px;
    width: 20px;
    position: absolute;
    transform: scale(0.6);
}

.star{
    background-color: #F3EBBD;
    height: 20px;
    width: 4px;
    border-radius: 70%;
    position: relative;
}

.star::after{
    content: "";
    background-color: #F3EBBD;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(90deg);
    border-radius: 70%;
}

.star1{
    left: 38%;
    top: 45%;
}

.star2{
    left: 19%;
    top: 57%;
}

.star3{
    left: 78%;
    top: 54%;
}

.star4{
    left: 60%;
    top: 28%;
}

.star5{
    left: 32%;
    top: 24%;
}

.moon{
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border-width: 7px 7px 0px 0;
    border-color: #F3EBBD;
    border-style: solid;
    position: absolute;
    left: 54%;
    top: 40%;
    transform: rotate(70deg);
}

.creditos{
    color: #5E4320;
    text-align: center;
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 30px;
    font-weight: 600;
}

a{
    color: #5E4320;
    font-weight: 500;
    font-size: 20px;
}